#child1 {
  color: aqua;
  font-size:3rem;

}
#heading1 {
  color:chocolate;
  font-size: 3rem;

}
#heading2 {
  color:chartreuse ;
  font-size: 3rem;

}
#heading4 {
  color:gold;
  font-size: 3rem;

}
#heading3 {
  color:rosybrown;
  font-size: 3rem;

}
